{%- if localization.available_languages.size > 1 -%}
  {%- assign localization_form_id = form_id | default: 'LocalizationForm' -%}
  {%- form 'localization', id: localization_form_id, class: 'localization-form' -%}
    <input type="hidden" name="return_to" value="{{ request.path }}">
    <div class="localization-switcher">
      <label class="visually-hidden" for="{{ localization_form_id }}-locale">
        Language
      </label>
      <select
        id="{{ localization_form_id }}-locale"
        name="locale_code"
        class="localization-switcher__select"
        onchange="this.form.submit();"
        aria-label="Select language"
      >
        {%- for language in localization.available_languages -%}
          <option value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
            {{ language.endonym_name | capitalize }}
          </option>
        {%- endfor -%}
      </select>
    </div>
  {%- endform -%}
{%- endif -%}
